body {
    background: #101011;
    color: white;
    margin: 0;
    font-family: Poppins;
}

.wrapper {
    width: 1320px;
}

/*___ header ___*/
header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.head-div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* ___ content ___ */
.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    flex-direction: column;
}

.back_btn_div {
    margin-top: 45px;
}

.back_btn_div a {
    cursor: pointer;
}

section h3 {
    font-size: 30px;
}

section h4 {
    font-size: 26px;
}

section p {
    font-size: 20px;
    margin: 20px 0;
}

section ul {
    font-size: 20px
}

section label {
    display: block;
}
.title h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: -0.03em;
    margin-bottom: 0;
}

.title p {
    margin: 5px 0;
}

.content_div p {
    margin: 5px 0;
}

.desktop {
    display: auto;
}
.mobile {
    display: none;
}
.display-none {
    display: none;
}

@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: initial;
    }
    .wrapper {
        width: 333px;
    }
    header {
        height: 68px;
    }
    .show {
        display: block;
    }
    .logo-img {
        height: 25px;
        width: 87px
    }
    .content-div {
        padding: 0;
    }
    .back_btn_div {
        margin-top: 20px;
    }
    .title h1 {
        font-size: 45px;
        line-height: 60px;
    }
    section h3 {
        font-size: 25px;
    }
    section p {
        font-size: 16px;
    }
    section ul {
        font-size: 15px;
    }
    section label {
        font-size: 15px;
    }
}