body {
    background: #101011;
    color: #bec2c9;
    margin: 0;
    font-family: Inter,sans-serif!important;
}
.wrapper {
    width: 1320px;
}
.white {
    color: white;
}
/*___ header ___*/
header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.head-div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
/* ___ content ___ */
.content-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 60px;
    flex-direction: column;
}
section {
    width: 100%;
    color: #bec2c9;

}
.title h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    cursor: default;
}
.title h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    cursor: default;
}

.desktop {
    display: auto;
}
.mobile {
    display: none;
}
.display-none {
    display: none;
}

@media screen and (max-width: 992px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: initial;
    }
    .wrapper {
        width: 333px;
    }
    header {
        height: 68px;
    }
    .show {
        display: block;
    }
    .logo-img {
        height: 25px;
        width: 87px
    }
    .content {
        flex-direction: column;
        height: auto;
        margin: 30px 0 0 0;
        background: none;
    }
}